* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  background-color: #e9e7e7;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50vw;
  background-color: #fff;
  height: 50vh;
  border-radius: 8px;
  box-shadow: 1px 1px 1px #000;
}

.container .title {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .title h2 {
  text-align: center;
  margin-top: 20px;
}

.container .content {

  height: 30vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container .content .content-input {

  padding: 10px;
}

.container .content .content-input input {
  padding: 7px;
  margin-top: 13px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #adadad;
  outline: none;
}
.container .btn{
   display: flex;
   justify-content: center;
   align-items: center;
  
    width: 50vw;
    height: 10vh;
}
.container .btn button {
  border:none;
  padding: 10px;
   background-color: rgb(0, 132, 255);
    color:#fff;
    width: 20vw;
  box-shadow: 1px 1px 1px #000;
   cursor:pointer;
    margin-bottom: 14px;
}
@media screen {
  
}